
@{
    ViewData["Title"] = "_BtnMenu";
}

<p></p>
<div class="form-group">
    <form method="get" action="Index" style="display:inline">
        <input type="submit" value="Количество книг" class="btn" />
    </form>
    <form method="get" action="Turnover" style="display:inline">
        <input type="submit" value="Оборот книги" class="btn" />
    </form>
    <form method="get" action="PeriodHistory" style="display:inline">
        <input type="submit" value="История за период" class="btn" />
    </form>
</div>
